@import "bootstrap.less";
@import "fontawesome.less";

// Navbars

.nav-padding {padding-top:36px;}

// map
html, body, .leaflet-container, body>div {height: 100%;}
.stacker {position:absolute;z-index:2;width:100%;font-weight:bold;}
.stacked { z-index:1; }

// enter-game button
.spacer {margin-top:100px;text-align:center;}
.enter-game {padding-top:100px;}
#button50 {width:50%;}
#button100 {width:100%;}
#btn80 {width:80%;}
#btn20 {width:20%;}
.btn25 {width:25%;}

@font-size-large:1.5em; 
@border-radius-base:0px;

button.close {font-size:@font-size-large;}

.gridul {
    margin: 0 auto;
    text-align: center;
}

.gridli {
	width: 33%;
	border-style: solid;
	border-width:1px;
    display: inline-block;
    vertical-align: top;
}

@body-bg: #140000;
@brand-primary: #520000;
@brand-danger: #005252;
@text-color:  @gray-lighter;