@import "bootstrap";
@import "../../vendor/fontawesome/less/font-awesome";
@import "growl";

body {
  -webkit-user-select: none;
  -webkit-user-callout: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

@dark-red:#140000;
@green:#005252;
@red:#520000;
@blue:#000052;

@body-bg: @blue;
@brand-primary:@dark-red;
@brand-danger: @green;
@brand-warning: @blue;
@text-color:  @gray-lighter;

//@popover-bg: @blue;
//@popover-arrow-color: @blue;

@panel-width: 78vw;
@circle-width: 15vw;

.centered(@dim) {
	top: 50%;
	margin-top: @dim * -0.5;
	.h-centered(@dim);
}

.circle(@dim) {
	height: @dim;
	width: @dim;
	//border:1px solid transparent;
	border-radius: 50%;
	.text-center;
}
.h-centered(@dim) {
	left: 50%;
	margin-left: @dim * -0.5;
	.stacked;
}

.centered {
	.centered(@circle-width);
}
.circle {
	.circle(@circle-width);
}
.h-centered {
	.h-centered(@circle-width);
}

.stacked {z-index:2;position:absolute;}

.popover {color:@blue;font-weight: bold;}

// WEB INTERFACE //

	.web {
		height: @panel-width;
		width: @panel-width;
		.centered(@panel-width);
	}

	.web-button {
		.circle;
		.stacked;
		left:10px;
		top:10px;	
		color:@gray-lighter;
		background-color: @red;
		padding-top: 12px;
		border: 1px solid black;
	}

	.web-button.active {border-color:white;}

	.circle-outline {
		@dim: @panel-width * 0.5;
		.circle(@dim);
		.centered(@dim);
		border: 1px solid white;
	}

	.suspect-window-panel {
		@dim: @panel-width;
		.circle(@dim);
		.centered(@dim);
		background-color: @blue;
		opacity: 0.6;
	}

	.suspect-window-text {
		@dim:@panel-width*0.75;
		width:@dim;
		.h-centered(@dim);
		top:@panel-width*0.125;
		font-weight: bold;
		.stacked;
		.text-center;
		font-size: 125%;
	}

	.middle-button {
		.circle;
		.centered;
		border:4px solid white;
	    background-color: @blue;
	}

	.suspect-container {
		@dim:@circle-width+2;
		margin-top: @dim/-2;
		background-color: transparent;
		.circle(@dim);
		.h-centered(@dim);
		-webkit-transform-origin: 50% (@panel-width / 2)+(@dim / 2);
	}

	.suspect-container.target {background-color: @red;}

	.suspect-button {
		.circle;
		border:0.5vw solid black;
		.centered;
	}

	.suspect-button.active {border-color: white;}

	.stat-container {
		@dim:10vw;
		border: 1px solid transparent;
		.circle(@dim);
		.h-centered(@dim);
		background-color: white;
		color: @blue;
		padding-top: 8px;
		top:25%;
		margin-top:@dim*-0.5;
	    -webkit-transform-origin: 50% (@panel-width / 4)+(@dim / 2);
	}
	.stat-container.red {
		background-color: @red;
		color:white;
	}
	.stat-container.icon {
		padding-top: 4px;
	}

	.stat {
		.text-center;
		font-weight: bold;
	}



// ME PANEL //

	.me-button {
		.stacked;
		.circle;
		right:10px;
		top:15px;
	    -webkit-transition: all .2s ease-in-out;
	}
	.me-button.active {
		border-color:white;
	}

	.me-window{
		.instructions-window;
	}

	.me-window-panel {
		.instructions-window-panel;
	}
	.me-window-text {
		.instructions-window-text;
	}


.login-button {
	bottom:30px;
	right:30px;
	color:white;
	background-color: @blue;
	line-height: .5;
	padding-top: 8px;
	.circle;
	span.small {
		font-size: 70%;
	}
}



.instructions-button {
	bottom:30px;
	right:90px;
	color:white;
	background-color: @blue;
	.circle;
	padding-top: 13px;
    -webkit-transition: all .2s ease-in-out;	
}
.instructions-button.active {
	border-color:white;
}

.instructions-window {
	.stacked;	
	width:300px;
	height: 200px;
	top:50%;
	left:50%;
	margin-top: -100px;
	margin-left: -150px;
    //-webkit-transition: all 1s ease-in-out;
}
.instructions-window-panel {
	.instructions-window;
	background-color: @blue;
	border-radius: 10%;
}
.instructions-window-text {
	.instructions-window;
	display: inline-block;
	padding:5px;
}



// map
	html, body, .leaflet-container, body>div {height: 100%}

	.leaflet-container { z-index:1;}

	#target1div {
	.map;
	}

	#target2div {
	.map;
	bottom: 40px;	
	}

	#target3div {
	.map;
	bottom: 71px;	
	}

	.map {
	position:absolute;
	bottom: 8px;
	z-index:3;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	padding-left: 8px;

	}

	.targetmapbtn {
		.smallbtn;
		&:active,
	  	&.active {
	    outline: 0;
	    color: green;
	    background-image: none;
	    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	  	}
	}


// BUTTONS

	button.close {font-size:@font-size-large;}


	.smallbtn {
		padding-top: 1px;
		padding-bottom: 1px;
		padding-right: 3px;
		padding-left: 3px;
	}


// COLORS

	.is-transmitting {color:green;}
	.not-transmitting {color:red;}

	.leaflet-popup-content-wrapper {color:black;}

// INSTRUCTIONS + STATUS

	.highlight {
		font-weight:bold;
	}

	.instructions {
		padding-top:5px;
		padding-left: 20px;
		padding-bottom:10px;
		padding-right:20px;
		font-size:@font-size-small;
	}

	ul.indented {-webkit-padding-start:15px;}

	.primary-primary {
		color:@brand-primary;
	}

	.primary-danger {
		color:@brand-danger;
	}

	.primary-warning {
		color:@brand-warning;
	}

	.secondary {
		padding-top:4px;		
	}

	.center-div {
    position: fixed;

    top: 30%;
    left:5%;
    right:5%;
    padding: 10px;
	}

// SPINNER

	.center-spinner {
		color:@brand-primary;
	    position: fixed;
	    height: 15%;    
	    width: 25%;
	    top: 40%;
	    left: 40%;
	    padding: 10px;
	}

// TYPED

	.sleepers {
		.text-center;
		.stacked;
		font-family: "Courier New", Courier, monospace;
		font-weight: bold;
		width:100%;
	}

	.typed-cursor{
		display:none;
	}

// MARKER CLUSTERS

	.marker-cluster-small {background-color: rgba(161, 51, 54, 0.6);}
	.marker-cluster-small div {background-color: rgba(161, 51, 54, 0.6);}
	.marker-cluster-medium {.marker-cluster-small;}
	.marker-cluster-medium div {.marker-cluster-small;}
	.marker-cluster-large {background-color: rgba(241, 211, 87, 0.6);}
	.marker-cluster-large div {background-color: rgba(240, 194, 12, 0.6);}

// GROWL

	.growl-notifications {
	  position: fixed;
	  right: 10px;
	  top: 10px;
	  z-index: 9999; /*must be highest element on page*/
	}