@import "bower_components/bootstrap/less/bootstrap";
@import "bower_components/components-font-awesome/less/font-awesome";


body {
  -webkit-user-select: none;
  -webkit-user-callout: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}

// COLORS //

	@dark-red:#140000;
	@green:#005252;
	@red:#520000;
	@blue:#000052;

	@body-bg: @blue;
	@brand-primary:@dark-red;
	@brand-danger: @green;
	@brand-warning: @blue;
	@text-color:  @gray-lighter;


// POPOVERS //

	.popover {color:@blue;font-weight: bold;}
	//@popover-bg: @blue;
	//@popover-arrow-color: @blue;

// COMMON //

	.click-fix {cursor:pointer}

	@panel-width: 78vw;
	@circle-width: 15vw;
	@scircle-width: 10vw;

	.centered(@dim) {
		top: 50%;
		margin-top: @dim * -0.5;
		.h-centered(@dim);
	}
	.centered {.centered(@circle-width);}

	.circle(@dim) {
		height: @dim;
		width: @dim;
		//border:1px solid transparent;
		border-radius: 50%;
		.text-center;
	}
	.circle {.circle(@circle-width);}

	.h-centered(@dim) {
		left: 50%;
		margin-left: @dim * -0.5;
		.stacked;
	}
	.h-centered {.h-centered(@circle-width);}

	.stacked {z-index:2;position:absolute;}

	.self-center {
		top:50%;
		position:absolute;
		left:50%;
		-webkit-transform: translateY(-50%) translateX(-50%);
	}

// NOTIFICATIONS //

	.notifications-list {
		
		.item {
			margin-bottom:4px;
			width: 100%;
			background-color:white;
			font-size:85%;
			border: solid 1px black;
			padding: 5px;
			border-radius: 3vw;
			.header {
				color:@blue;
				line-height: 2em;
			}
			.body {
				color:black;
			}
			.buttons {
				line-height: 3em;
			}
		}
		.read{
			opacity: 0.75;
		}
	}

// MAP //

	html, body, .leaflet-container, body>div {height: 100%}
	.leaflet-popup-content-wrapper {color:black;}

// OVERLAY //
	
	.overlay {
		.circle(6vw);
		background-color: @blue;
		position:absolute;
		z-index:3;
		margin-top:-6px;
		padding-top:4px;
	}

	.overlay.top-left {
		margin-left:-6px;
	}

	.overlay.top-right {
		right:-6px;
	}

	// TRANSMITTING

	.is-transmitting {color:green;}
	.not-transmitting {color:red;}

// BUTTONS //

	.circle-button {
		.circle;		
	    .stacked;
	    border: 1px solid black;
	    .click-fix;
		bottom:4vw;
		line-height: .5;
		span.small {
			font-size: 70%;
		}
		img.circle-button{position:static;}
	}
	.circle-button.active {border-color:white;}
	.circle-button.first {right:4vw;}
	.circle-button.second {right: 6vw + @circle-width;}
	.circle-button.third {right: 8vw + @circle-width*2;}
	.circle-button.blue {background-color: @blue;}
	.circle-button.red {background-color: @red;}

	.button-container {
		.circle;
		position:absolute;
		height: @circle-width;
		width: @circle-width;
	}


// PANEL //

	.panel-bg {
		.panel-content;
		background-color: @blue;
		opacity:.6;	
		border-radius: 6vw;
	}

	.panel-content {
		.panel-base;
		width:90%;
		h4 {
			font-weight:bold;			
		}
		span.italic {
			font-style: italic;
		}

	}

	.panel-base {
		.stacked;
		display: inline-block;
		.self-center;
	}

	.panel-content.lower {	
		top: 3%;
		-webkit-transform: translateX(-50%);
	}

	.panel-bg.lower {
		top: 3%;		
		-webkit-transform: translateX(-50%);
	}

	.panel-content.scrollable {
		height: 65%;
		overflow-y: auto;
		width:80%;
		padding-right:10px;
	}

	.panel-bg.scrollable {
		height: 70%;
	}

// SMALL-BUTTON

	.small-button-container {
		.click-fix;
		@dim:@scircle-width;
		.circle(@dim);
		.h-centered(@dim);
		background-color: white;
		color: @blue;
		border: 1px solid @blue;
		margin-top:@dim/-2;
	    //-webkit-transform-origin: 50% (@panel-width / 4)+(@dim / 2);
	  	font-weight: bold;
	}
	.small-button-container.red {
		background-color: @red;
		color:white;
	}
	.inside-button {
		top:25%;		
	}

	i.red {
		color:red;
	}

// PIC INTERFACE //

	.circle-pic {
		@dim: @panel-width;
		.circle(@dim);
		border: 1px solid black;
	}

// CIRCLE INTERFACE //

	.circle-container {
		height: @panel-width;
		width: @panel-width;
		.centered(@panel-width);
	}

	.circle-outline {
		@dim: @panel-width * 0.5;
		.circle(@dim);
		.centered(@dim);
		border: 1px solid white;
	}

	.circle-window-panel {
		@dim: @panel-width;
		.circle(@dim);
		.centered(@dim);
		background-color: @blue;
		opacity: 0.6;
	}

	.suspect-window-text {
		@dim:@panel-width*0.75;
		width:@dim;
		.h-centered(@dim);
		top:@panel-width*0.1;
		font-weight: bold;
		.stacked;
		.text-center;
		font-size: 125%;
	}

	.middle-button {
		.click-fix;
		.circle(@scircle-width);
		.centered(@scircle-width);
		border:1px solid @blue;
	    background-color: white;
	    color: @blue;
	    font-weight: bold;
	}

	.suspect-container {
		@dim:@circle-width+2;
		margin-top: @dim/-2;
		.circle(@dim);
		.h-centered(@dim);
		//-webkit-transform-origin: 50% (@panel-width / 2)+(@dim / 2);
	}

	.suspect-container.target {background-color: @red;}

	.suspect-button {
		.click-fix;
		.circle;
		border:1px solid black;
		.centered;
	}

	.suspect-button.active {border-color: white;}

// NOTIFICATIONS //

	button.close {font-size:@font-size-large;}

// INSTRUCTIONS + STATUS

	h4.highlight {
		
	}

	//.instructions {
	//	padding-top:5px;
	//	padding-left: 20px;
	//	padding-bottom:10px;
	//	padding-right:20px;
	//	font-size:@font-size-small;
	//}

	ul.indented {-webkit-padding-start:15px;}

	.primary-primary {
		color:@brand-primary;
	}

	.primary-danger {
		color:@brand-danger;
	}

	.primary-warning {
		color:@brand-warning;
	}

	.secondary {
		padding-top:4px;		
	}

	.center-div {
	    position: fixed;
	    top: 30%;
	    left:5%;
	    right:5%;
	    padding: 10px;
	}

// SPINNER //

	.center-spinner {
		color:@brand-primary;
	    .self-center
	}

// TYPED //

	.stalkers {
		.text-center;
		.stacked;
		font-family: "Courier New", Courier, monospace;
		font-weight: bold;
		width:100%;
	}
	.typed-cursor{display:none;}

// MARKER CLUSTERS //

	.marker-cluster-small {background-color: rgba(161, 51, 54, 0.6);}
	.marker-cluster-small div {background-color: rgba(161, 51, 54, 0.6);}
	.marker-cluster-medium {.marker-cluster-small;}
	.marker-cluster-medium div {.marker-cluster-small;}
	.marker-cluster-large {background-color: rgba(241, 211, 87, 0.6);}
	.marker-cluster-large div {background-color: rgba(240, 194, 12, 0.6);}

// GROWL //

	.growl-notifications {
	  position: fixed;
	  right: 10px;
	  top: 10px;
	  z-index: 9999; /*must be highest element on page*/
	}

// USER MARKER //

	.leaflet-usermarker,
	.leaflet-usermarker-small {
	    background: url(images/bluedot.png);
	}