html, body, .leaflet-container, body>div { height: 100% }

.leaflet-popup-content-wrapper {
  @dim: 36vw;  
  .circle(@dim);
  padding: 0px;
  .leaflet-popup-content {
    margin: 0px;
  }
  img {
    .circle(@dim);
  }
}

.leaflet-popup-tip {
  display: none;
}

.user-marker {
  background-image: url('../images/bubble.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width: 65px;
  height: 80px;
  position:absolute;
  text-align: center;
  margin-left: -32px;
  margin-top: -80px;
  img {
    margin-top:3px;
    .circle(45px)    
  }
}