<div class="index-bg">
  {{#content-panel upper=true}}
    Welcome to the
    <h2>Selective Society of Self-Imposed Secret Stalkers<br>
      (SSSSS)</h2>
    For those who desire genuine experiences of watching and being watched, and sneaking and being sneaked.
  {{/content-panel}}
  {{#content-panel}}
    To begin, you'll need to share your location so we can show you if there are other members in your area. Your location won't be stored and we won't share it with anyone.
  {{/content-panel}}
  <div class="circle-button second blue"> 
    <div class="self-center">
      {{#link-to 'location'}}
        {{i-fa icon="map-marker" size="2x"}}
      {{/link-to}}
    </div>
  </div>
</div>