<div class="header">
	<i class="fa fa-envelope-o fa-lg"></i>
	&nbsp;&nbsp;&nbsp;
	{{notification.subject}}&nbsp;{{notification.createdAtFormatted}}
</div>
<div class="body">
	{{notification.body}}
</div>