{{#content-panel}}
  <h2>SnapTag!</h2>
  <p>If you've got {{model.name}} in your sites, take a picture without being seen then upload it by pushing the button below:</p>
  <p class="text-center">
    <button class="btn btn-primary circle"{{action send 'file'}}>{{i-fa icon='camera' size='2x'}}</button>
  </p>
{{/content-panel}}