<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.stalkersgame"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->
    <preference name="phonegap-version" value="3.6.3" />
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="orientation" value="portrait" />

    <name>Stalkers</name>

    <description>
        The biggest game of hide-and-seek ever, played with real people, in real-time, out in the real world.
    </description>

    <author href="http://www.gridweb.com" email="borden.edward@gmail.com">
        Ed Borden
    </author>
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="726528350693125" />
        <param name="APP_NAME" value="Stalkers" />
    </gap:plugin>
    <gap:plugin name="com.pushapps.phonegap" version="1.7.1" />
    <gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <access origin="*" />

    <!-- iPhone / iPod Touch  -->
    <icon src="icons/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="icons/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

    <!-- Settings Icon -->
    <icon src="icons/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="icons/icon-small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="icons/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="icons/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!-- Android Icon 160dpi, 240dpi-->
    <icon src="icons/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icons/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />   

</widget>

