<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.stalkersgame"
        versionCode = "1" 
        version     = "1.0.1" >

    <preference name="phonegap-version" value="3.7.0" />
    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />

    <name>Stalkers</name>

    <description>
        The biggest game of hide-and-seek ever, played with real people, in real-time, out in the real world.
    </description>

    <author href="http://www.stalkersgame.com" email="borden.edward@gmail.com">
        Ed Borden
    </author>

    <!-- Set permissions to none, then re-add one by one. -->
    <preference name="permissions" value="none"/>

    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="726528350693125" />
        <param name="APP_NAME" value="Stalkers" />
    </gap:plugin>
    <gap:plugin name="com.edborden.workingpushplugin" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.device" />


    <!-- Platforms -->    
    <gap:platform name="android" />

    <!-- Android Icons -->
    <icon src="icons/android/drawable-hdpi/appicon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="icons/android/drawable-ldpi/appicon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="icons/android/drawable-mdpi/appicon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icons/android/drawable-xhdpi/appicon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="icons/android/drawable-xxhdpi/appicon.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="icons/android/drawable-xxxhdpi/appicon.png" gap:platform="android" gap:qualifier="xxxhdpi" />

    <!-- Android Splash -->
    <gap:splash src="icons/android/res-notlong-port-hdpi/default.png" />
    <gap:splash src="icons/android/res-notlong-port-hdpi/default.png" gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="icons/android/res-notlong-port-ldpi/default.png" gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="icons/android/res-notlong-port-xhdpi/default.png" gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="icons/android/res-notlong-port-xxhdpi/default.png" gap:platform="android" gap:qualifier="port-xxhdpi" />

    <preference name="SplashScreenDelay" value="5000" />

</widget>

