<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.stalkersgame"
        android-versionCode = "4" 
        version     = "1.0.1" >

    <preference name="phonegap-version" value="3.7.0" />
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="portrait" />
    <access origin="*" />

    <name>Stalkers</name>

    <description>
        The biggest game of hide-and-seek ever, played with real people, in real-time, out in the real world.
    </description>

    <author href="http://www.stalkersgame.com" email="borden.edward@gmail.com">
        Ed Borden
    </author>

    <!-- Set permissions to none, then re-add one by one. -->
    <preference name="permissions" value="none"/>

    <!-- GEOLOCATION -->
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="true">
        <string>Once you have entered an active game, your location information will be collected and stored remotely. Your location will be shared only with other players in the game you are playing.</string>
    </gap:config-file>
    <gap:config-file platform="ios" parent="NSLocationUsageDescription" overwrite="true">
        <string>Once you have entered an active game, your location information will be collected and stored remotely. Your location will be shared only with other players in the game you are playing.</string>
    </gap:config-file>

    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
        <param name="APP_ID" value="726528350693125" />
        <param name="APP_NAME" value="Stalkers" />
    </gap:plugin>
    <gap:plugin name="com.edborden.workingpushplugin" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="hu.dpal.phonegap.plugins.spinnerdialog3" version="1.3.9" />

    <!-- Defaults -->  
    <icon src="icon.png" />
    <gap:splash src="splash.png" />

    <!-- Android -->    
    <gap:platform name="android" />

    <!-- Icons -->
    <icon src="icons/android/drawable-hdpi/appicon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="icons/android/drawable-ldpi/appicon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="icons/android/drawable-mdpi/appicon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="icons/android/drawable-xhdpi/appicon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="icons/android/drawable-xxhdpi/appicon.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="icons/android/drawable-xxxhdpi/appicon.png" gap:platform="android" gap:qualifier="xxxhdpi" />

    <!-- Splash -->
    <gap:splash src="icons/android/res-long-port-hdpi/default.png" />
    <gap:splash src="icons/android/res-long-port-hdpi/default.png" gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="icons/android/res-long-port-ldpi/default.png" gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="icons/android/res-long-port-xhdpi/default.png" gap:platform="android" gap:qualifier="port-xhdpi" />

    <preference name="SplashScreenDelay" value="5000" />


     <!-- iOS -->    
    <gap:platform name="ios" />   
    <preference name="target-device" value="handset" />
    <preference name="exit-on-suspend" value="true" />

    <!-- iPhone 6 / 6+ -->
    <icon src="icons/ios/appicon-60@3x.png" gap:platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="icons/ios/appicon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/appicon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="icons/ios/appicon-60@2x.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icons/ios/appicon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icons/ios/appicon-76@2x.png" gap:platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="icons/ios/appicon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="icons/ios/appicon-Small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- Spotlight Icon -->
    <icon src="icons/ios/appicon-Small-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="icons/ios/appicon-Small-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!-- iPhone and iPod touch -->
    <gap:splash src="icons/ios/Default.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="icons/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />

    <!-- iPhone 5 / iPod Touch (5th Generation) -->
    <gap:splash src="icons/ios/Default-568h.png" gap:platform="ios" width="320" height="568" />   
    <gap:splash src="icons/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <!-- iPhone 6 -->
    <gap:splash src="icons/ios/Default-667h@2x.png" gap:platform="ios" width="750" height="1334" />
    <gap:splash src="icons/ios/Default-Portrait-736h@3x.png" gap:platform="ios" width="1242" height="2208" />

    <!-- iPad -->
    <gap:splash src="icons/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />

    <!-- Retina iPad -->
    <gap:splash src="icons/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />

</widget>