// common
  .base {
    .stacked;
    display: inline-block;
    .self-center;
  }

  .bg {
    .base;
    width:90%;
  }

  .content {
    .base;
    width:85%;
    h4 {font-weight:bold}
    span.italic {font-style: italic}
  }

// upper
  .upper {  
    top: 3%;
    -webkit-transform: translateX(-50%);
  }

// scrolling
  .bg.scrolling {
    height: 70%;
  }

  .content.scrolling {
    height: 65%;
    overflow-y: auto;
    width:80%;
    padding-right:10px;
  }

// styled
  .bg.styled {
    background-color: @blue;
    opacity:.6; 
    border-radius: 6vw;
  }

  .bg.unstyled {
    background-color: white;
  }

  .content.unstyled {
    color: grey;
  }

// full
  .bg.full {
    height:90%;
  }

  .content.full {
    height:80%;
  }