<div class="blank-panel">
  <h1>Wooppps!</h1>
  <h2>Something went wrong:</h2>
  <h3 class="color-red">
    {{model.error}}
  </h3>
  <h4>
    If this is related to your location services, you can re-try the request now: 
    {{#link-to 'location'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <h4>If that doesn't work, try restarting/refreshing. You can also email us at contact@gosnaptag.com. We want to help!</h4>
</div>