<div class="bg-panel2">
  <h4>
    To score, you find your target and take their picture without them seeing you.
  </h4>
  {{#link-to 'intro.1'}}
    <img src="../images/arrow.png" class="arrow left">
  {{/link-to}}
  {{#link-to 'intro.3'}}
    <img src="../images/arrow.png" class="arrow">
  {{/link-to}}
</div>