<div class="bg-panel2">
  <h1>Snaptag!</h1>
  <h4>
    To score, you find your target and take their picture without them seeing you.
    {{#link-to 'intro3'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
</div>