<div class="blank-panel">
  <h1>Snaptag!</h1>
  <h4>
    Take their picture and upload it before they see you to score and knock them out
    {{#link-to 'intro3'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <img src="../images/screen1.png">
</div>