<div class="name-panel">
  {{partial 'instructions'}}
  {{#bottom-nav}}
    {{#link-to 'location'}}
      <button class="btn btn-lg btn-primary">
        {{i-fa icon="map-marker"}} Search for players around you!
      </button>
    {{/link-to}}
  {{/bottom-nav}}
</div>