<div class="blank-panel">
  {{partial 'instructions'}}
  {{#link-to 'location' class="bottom-buttons"}}
    <button class="btn btn-lg btn-primary">
      {{i-fa icon="map-marker"}} Search for players around you!
    </button>
  {{/link-to}}
</div>