<div class="bg-panel3">
  <h4>
    One of your friends will be secretly trying to Snaptag you as well. If you think you know who they are, you can guess and knock them out first!
  </h4>
  {{#link-to 'intro.2'}}
    <img src="../images/arrow.png" class="arrow left">
  {{/link-to}}
</div>