<div class="bg-panel3">
  <h4 class="title">
    One of your friends will be secretly looking for you too. If you can guess who they are, you can knock them out first!
  </h4>
  {{#link-to 'intro.2'}}
    <img src="../images/arrow.png" class="arrow left">
  {{/link-to}}
</div>