<div class="blank-panel">
  <h1>Watch out!</h1>
  <h4>
    You also have 3 people looking for you
    {{#link-to 'location'}}
      <button class="btn btn-lg btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <img src="../images/screen1.png">
</div>