<div class="blank-panel">
  <h1>Watch out!</h1>
  <h4>
    You also have 3 people looking for you. Keep a look out, because if someone is being suspicious you can guess if they are looking for you and knock them out!
    {{#link-to 'location'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <img src="../images/screen1.png">
</div>