<div class="blank-panel">
  <h1>Join up</h1>
  <h4>
    You get assigned 3 people to find in your immediate area using only their location, picture, and first name
    {{#link-to 'intro2'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <img src="../images/screen1.png">
</div>