<div class="bg-panel1">
  <h1>Join up</h1>
  <h4>
    Snaptag is played with 3 of your friends. Everyone secretly gets assigned a target.
    {{#link-to 'intro2'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
</div>