{{#content-panel closer=true}}
  <h4 class="text-center">
    <p>
      {{#if noPlayers}}
        No other players in your area right now.  Join up now and start a new game so other people can see that you want to play!
      {{else}}
        There are other players in your area right now! 
        {{#if inZone}}
          {{#if inZone.active}}
            Join now to drop into an active game.
          {{else}}
            Join now to enter the queue.
          {{/if}}
        {{else}}
          You'll have to move closer to play in their game, otherwise join up now and start a new game so other people can see that you want to play!
        {{/if}}
      {{/if}}
    </p>
  </h4>
{{/content-panel}}