{{#content-panel scrolling=true}}

  <h4>This is Snaptag, a city-wide game of hide-and-seek played with real people, in real time, out in the real world!</h4>
  <p>Your goal is to find your targets (other players close by) before someone finds <span class="italic">you</span>. You'll be given up to 3 targets, while up to 3 players will be looking for you as well.</p>

  <h4>Joining a game</h4>
  <p>You'll be able to see if there are people playing around you before you join any games. Players wait in a queue until there are at least 12 people playing in an area so that everyone has enough targets. If you join up and are placed into the queue, you'll be notified by email when the game starts.</p>

  <h4>Using the Game screen</h4>
  <p>
    Once you've entered a game, you'll see the 
    <span class="fa-stack">
      {{i-fa icon="square" class="fa-stack-2x"}}
      {{i-fa icon="camera" class="fa-stack-1x fa-inverse fa-lg"}}
    </span> 
    button, which will bring up your game screen. This is where you'll be able to view the other players in your game. Some of them will be highlighted, which are your targets. Some of them are also your hunters (be careful: you <span class="italic">could</span> be hunting your hunter!).
  </p>
  

  <h4>Finding your targets</h4>
  <p>Players can view their targets' picture and recent location on a map. You'll need to use this, as well as any other information you can come up with, to find your target and Snaptag them! To score, You'll need to be sneaky! If your target sees you coming, they'll be able to pick your face out of a list and guess that you are their pursuer. If they guess correctly, you'll be removed from the game!</p>
  <p>Location information is only collected once a player has joined, has targets, and is actively hunting other members while inside the app. Even then, location information is shared with a player's hunters only.</p>
{{/content-panel}}