{{#content-panel scrolling=true}}
  <h4>This is Snaptag, a city-wide game of hide-and-seek played with real people, in real time, out in the real world.</h4>
  <p>Your goal is simple: find your targets (other players in your vicinity) before you yourself are found. You'll be given up to 3 targets, while up to 3 players will be looking for you as well.</p>
  <p>Players can view their targets' picture and recent location on a map. You'll need to be sneaky! If your target sees you coming, they'll be able to pick your face out of a list and guess that you are their pursuer. If they guess correctly, you'll be removed from the game!</p>
  <p>Location information is only collected once a player has joined, has targets, and is actively hunting other members while inside the app. Even then, location information is shared with a player's hunters only.</p>
{{/content-panel}}