{{#content-panel scrolling=true}}
  <h4>The Selective Society of Self-Imposed Secret Stalkers is comprised of real people, in real time, out in the real world.</h4>
  <p>Your goal is painfully obvious given the name of our organization: hunt down and find your targets (other members in your vicinity) before you yourself are found. You'll be given up to 3 targets, while you'll in turn be targeted by up to 3 other members.</p>
  <p>Members can view their targets' recent location on a map as well as given their picture. This may seem trite, but be assured that locating your target is only half the act; you'll also need to be sneaky. If your target sees you coming, they'll be able to pick your face out of a list and guess that you are their pursuer. If they guess correctly, you'll be removed from the Society. Ta-ta.</p>
  <p>For the safety of our members, location information is only collected once a player has joined, has targets, and is actively stalking other members while inside the app. Even then, location information is shared with a member's hunters only.</p>
{{/content-panel}}