<div class="bg-panel3">
  <h1>Watch out!</h1>
  <h4>
    Three people will be secretly trying to Snaptag you as well. If you think you know who they are, you'll be able to Counter-tag them and knock them out first!
    {{#link-to 'location'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
</div>