<div class="blank-panel">
  <h1>Snaptag!</h1>
  <h4>
    To score and knock them out of the game, you'll have to find them and take their picture without them seeing you.
    {{#link-to 'intro3'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <img src="../images/screen1.png">
</div>