<div class="blank-panel">
  <h1>Join up</h1>
  <h4>
    Snaptag is played with 11 of your friends. Once everyone joins, you'll secretly get 3 of them assigned as targets.
    {{#link-to 'intro2'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <img src="../images/screen1.png">
</div>