<div class="blank-panel">
  <h1>Snaptag!</h1>
  <h4>
    To score, take their picture before they see you and know that you are looking for them!
    {{#link-to 'intro3'}}
      <button class="btn btn-xs btn-primary">
        {{i-fa icon="arrow-right"}}
      </button>
    {{/link-to}}
  </h4>
  <img src="../images/screen1.png">
</div>