{{#content-panel}}
  <h2>Are you sure you want to Logout?</h2>
  <p>:(</p>
  <p class="text-center">
    <button class="btn btn-primary circle"{{action 'closeModal'}}>{{i-fa icon='times' size='2x'}}</button>
    <button class="btn btn-primary circle"{{action 'logout'}}>{{i-fa icon='sign-out' size='2x'}}</button>
  </p>
{{/content-panel}}