<div class="update-bg">
	{{#content-panel}}
		<h3>An updated version of Stalkers has been released and is required to keep playing. Download it now!</h3>
	{{/content-panel}}
  <div class="circle-button second blue">	
		<div class="self-center">
			<a href={{updater.updateLink}}>
				<i class="fa fa-external-link fa-2x"></i>
      </a>
    </div>
  </div>
</div>