<div style={{innerStyle}}>
  {{#if overlayContent}}
    {{#overlay-circle top-right=true red=true}}
      <div class="self-center color-white">
        {{overlayContent}}
      </div>
    {{/overlay-circle}}
  {{/if}}
  <div class="self-center">
    {{yield}}
  </div>
</div>